  .loading{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Poppins", "sans-serif";
  }
  body{
    background: #efefef;
    height: 400px;
    width: 350px;
    align-items: center;
    justify-content: center;
  }
  .skill{
    width: 120px;
    height: 120px;
  }
  .outer{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
  }
  .inner{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #number{
    font-weight: 600px;
    color: #555;
  }
  circle{
    fill: none;
    stroke: #008000;
    stroke-width: 20px; 
    stroke-dasharray: 472; /*full is 472*/
    stroke-dashoffset: 472;
    animation-delay: 3s;
    animation: anim 1s linear forwards;
  }
  svg{
    position: absolute;
    left: 100px;
    margin-bottom: 5rem;
  }
  @keyframes anim{
  100%{
      stroke-dashoffset: 100;
    }
  }

span {
    font-size: 20px;
  }
  .main-circle {
    position:absolute;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    line-height: 160px;
    border-radius: 50%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    z-index: -1000;
    left: 100px;

  }
  .smallcircletext{
    display: flex;
    font-size: 25px;
    color: black;
    text-align: center;
  }
  .smaller-circle {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    background: #14213D;
  }
  .circle-container {
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
  }
  .circle-container-2 {
    display: flex;
    justify-content: space-around;
  }
  /* .main-data {
    display: none;
  } */
  .SearchBar{
    top: 50px;
    position: absolute;
    width: 343px;
    height: 45px;
  
    background: rgba(130, 130, 130, 0.21);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-color: grey;
    border-radius: 5px;
  }