  .loading{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    font-family: "Poppins", "sans-serif";
  }
  body{
    background: #efefef;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .skill{
    width: 120px;
    height: 120px;
  }
  .outer{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
  }
  .inner{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #number{
    font-weight: 600px;
    color: #555;
  }
  circle{
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 20px; 
    stroke-dasharray: 472; /*full is 472*/
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
  }
  svg{
    position: absolute;
    top:300;
    left: 50;
  }
  @keyframes anim{
    100%{
      stroke-dashoffset: 165;
    }
  }

  .main-circle {
    margin: 0 auto;
    width: 170px;
    height: 170px;
    line-height: 170px;
    border-radius: 50%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: white;
  }
  .climate-circle {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    background: linear-gradient(199.57deg, rgba(244, 238, 238, 0.4) 13.11%, rgba(250, 205, 46, 0.65) 77.37%);
  }
  .water-circle {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    background: linear-gradient(199.57deg, rgba(238, 244, 238, 0.4) 13.11%, rgba(67, 194, 64, 0.65) 77.37%);
  }
  .forests-circle {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    background: linear-gradient(199.57deg, rgba(244, 239, 238, 0.4) 13.11%, rgba(194, 87, 64, 0.65) 77.37%);
  }
  .circle-container {
    display: flex;
  }
  .main-data {
    display: none;
  }